<mat-card>
  <mat-card-header>
    <mat-card-title> {{ product.title | uppercase }} </mat-card-title>
    <!-- <mat-card-subtitle> {{ product.id | currency }} </mat-card-subtitle> -->
  </mat-card-header>
  <!-- <div class="crop-image">
    <img [src]="product.image" [alt]="product.title" />
  </div> -->
  <mat-card-content>
    <p>{{ product.description }}</p>
    <p>{{ product.sku }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addCart()">
      Agregar al carrito
    </button>
    <a mat-raised-button [routerLink]="['/products', product.id]">
      Ver Detalle</a
    >
  </mat-card-actions>
</mat-card>
